.header {
  display: grid;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 20%;

  margin-top: 15px;
}

#logo-img {
  margin-top: 15px;
  height: 65px;
}

#logo {
  margin-top: 15px;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

#desc {
  font-size: small;
  margin-top: 5px;
}
